<!-- 
    - #FOOTER
  -->

<footer class="footer">
    <div class="container">

        <ul class="social-list">

            <li>
                <a href="#" class="social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/ufm740" class="social-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>

        </ul>

        <p class="text-center">&copy; 2023 copyright all rights reserved</p>

    </div>
</footer>