/* .about-card {
    width: 300px;
    margin: 0 auto;
  }
  
  .about-avatar {
    background-image: url('path/to/avatar-image.jpg');
    background-size: cover;
    background-position: center;
  }
   */