<main>
    <article>
        <section class="section service has-bg-image" aria-labelledby="service-label"
            style="background-image: url('assets/images/service-bg.png')">
            <div class="container">

                <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

                <ul class="service-list">

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                            <div class="card-media">
                                <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Web Design</h3>

                                <p class="body-sm">
                                    Skilled Web developer with expertise in backend programming language PHP
                                    (Silverstripe) and modern front-end
                                    technologies including HTML5, CSS, Bootstrap, JavaScript and Angular JS
                                </p>
                            </div>

                        </div>
                    </li>


                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                            <div class="card-media">
                                <ion-icon name="analytics-sharp" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Data analytics</h3>

                                <p class="body-sm">
                                    Adept at Data analytics with expertise in data formation, cleaning, analysing and
                                    visualising data to give insights of the
                                    data in a presentable manner to the clients and stakeholders
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                            <div class="card-media">
                                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Software Development</h3>

                                <p class="body-sm">
                                    Skilled Developer liasing with project team leads in understanding the project
                                    requirements,
                                    analysing and working on delivarables in sprints using agile and hybrid software
                                    methodologies
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                            <div class="card-media">
                                <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Data visualisation</h3>

                                <p class="body-sm">
                                    Knowledge of Data visualisation tools such as PowerBI, AWS Quicksight and Tableau in
                                    analysing and visualising
                                    data to get the trends and pattern using different analysis (explorative, predictive
                                    and prescriptive analysis)
                                </p>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</main>