<main>
    <article>

        <section class="section portfolio" aria-labelledby="portfolio-label">
            <div class="container">

                <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

                <ul class="portfolio-list">

                    <li>
                        <div class="portfolio-card">

                            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                <img src="./assets/images/The-Future-of-Healthcare-Virtual-Assistants.png" width="800"
                                    height="540" loading="lazy" alt="The-Future-of-Healthcare-Virtual-Assistants"
                                    class="img-cover">

                                <a href="#" class="btn-icon"
                                    aria-label="More about Website Design for Marketing Agency Startup">
                                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                </a>
                            </div>

                            <div class="card-content">

                                <span class="chip label-md">The Role of Big Data on Value-Based Healthcare</span>

                                <h3 class="title-md"></h3>

                                <p class="card-text">
                                    Used Michael Porter’s theory of value-based
                                    healthcare in
                                    how it can effectively enable better healthcare delivery for patients and reduce
                                    overall cost, by
                                    analysing some successful use cases and demonstrating that data gathered using smart
                                    devices
                                    & applications with big data analytics and AI can help achieve value-based
                                    healthcare (VBHC).
                                </p>

                                <!-- <a href="#" class="btn btn-primary">View Project</a> -->

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="portfolio-card">

                            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                <img src="./assets/images/PowerBI.png" width="800" height="540" loading="lazy"
                                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                                <a href="#" class="btn-icon"
                                    aria-label="More about Website Design for Marketing Agency Startup">
                                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                </a>
                            </div>

                            <div class="card-content">

                                <span class="chip label-md">Data analytics</span>

                                <h3 class="title-md">Microsoft Power BI Desktop for Business Intelligence</h3>

                                <p class="card-text">
                                    Built automated workflows to extract, transform, and load project data using
                                    Power Query, and explore common data connectors, storage modes, profiling tools,
                                    table transformations, and learnt powerful artificial Intelligence tools like
                                    decomposition
                                    trees, key influencers, smart narratives and natural language Q&A, along with
                                    performance optimization techniques to keep your reports running smoothly at scale.
                                </p>

                                <!-- <a href="#" class="btn btn-primary">View Project</a> -->

                            </div>

                        </div>
                    </li>>

                    <li>
                        <div class="portfolio-card">

                            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                <img src="./assets/images/portfolio-4.jpg" width="800" height="540" loading="lazy"
                                    alt="Website Design for Consultancy Startup" class="img-cover">

                                <a href="#" class="btn-icon"
                                    aria-label="More about Website Design for Consultancy Startup">
                                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                </a>
                            </div>

                            <div class="card-content">

                                <span class="chip label-md">Web Design</span>

                                <h3 class="title-md">Website Design for Consultancy Startup</h3>

                                <p class="card-text">
                                    I designed a self automated quiz component for a web page that adjusts the timer of
                                    questions based on the
                                    difficulty using frontend frameworks 
                                </p>

                                <!-- <a href="#" class="btn btn-primary">View Project</a> -->

                            </div>

                        </div>
                    </li>

                </ul>

            </div>
        </section>

    </article>
</main>